#root, html, body {
  height: 100vh;
}

body {
  margin: 0px;
  /* background: linear-gradient(to right, #0f0f0f, #3c3c3c); */
  background: black;
  /* Subtle gradient background */

}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
